# Exclude specific files
src/App.js
src/AuthContext.js
src/components/Card.js
src/components/Cardlist.js
src/components/Map.js
src/components/Footer.js
src/components/Faq.js
src/components/Navbar.js
src/components/ContactForm.js
src/config.js
src/index.js
src/pages/Claim.js
src/pages/Contact.js
src/pages/DoctorLogin.js
src/pages/Logout.js
src/pages/Main.js
src/pages/Profile.js
src/pages/Register.js
src/pages/Result.js
src/pages/Results.js
src/pages/ResultsMap.js
src/pages/Services.js
src/pages/Sort.js
src/pages/getData.js
src/pages/getProfile.js
src/pages/insertNewUser.js
src/pages/loginUser.js
src/pages/updateData.js
src/pages/FAQ.js
src/pages/Home.js
src/pages/CodeValidator.js
src/pages/insertTopSearch.js
src/pages/ResetPassword.js
src/functions/geoCodeCity.js
src/functions/UpdatePassword.js
src/functions/insertErrors.js
