.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #140437;
}



.search-top {
  color: #140437;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  display: block;
  width: 100%;
  margin: 0 0 12px 0;
}
.ant-select-selector {
  border-radius: 12px !important;
  border: 1px solid #000 !important;
  background: #FFF !important;
  height: 45px !important;
}
.ant-select-selection-search-input {
  line-height: 47px !important;
  height: 41px !important;
}
.search form {
  width: 100%;
}
.ant-select-selection-item {
  line-height: 42px !important;
  text-align: left;
}
.ant-select-selection-item {
  line-height: 42px !important;
  text-align: left;
}
.mar-0-top {
  width: 100%;
  display: flex !important;
  justify-content: flex-start !important;
  margin: 0 !important;
}
.test-button {
  border-radius: 99px;
  border: 1px solid #3316F7;
  background: #FFF;
  color: #592CB8;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 36px;
  padding: 0 12px;
  min-width: 70px;
  margin: 0 15px 15px 0 !important;
}
/* .mar-0-top button.test-button:nth-child(1), */
.mar-0-top button.test-button:nth-child(1):hover,
.mar-0-top button.test-button.active {
  border-radius: 99px !important;
  background: linear-gradient(180deg, #1B18F9 0%, #E409E8 100%) !important;
  color: #fff !important;
  border: none !important;
}
.mar-0-top button.test-button:nth-child(1):hover {
  color: #fff;
}
.test-button:hover {border: 1px solid #3316F7 !important;background: #FFF !important;color: #592CB8 !important;}
.mar-test {
  height: 30px;
}
.test-img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 12px;
  float: left;
  display: block;
}
.test-img-1 {
  width: 100px;
}
.test-img-1 {
  width: 20px;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.flex-right-cus a h4 {
  color: #592CB8;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.flex-right-cus a {
  color: #592CB8;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 10px 0 !important;
  display: block;
}
.add-css {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
  padding: 0 0 0 30px;
}

.add-css-1 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.result-card {
  display: flex !important;
  flex-wrap: initial !important;
  border-radius: 10px !important;
  background: #FFF !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  padding: 13px !important;
  border: none !important;
  margin: 0 0 30px 0 !important;
  flex-direction: initial !important;
  align-items: center;
  justify-content: space-between;
}
.flex-right-cus {
  width: fit-content;
  padding: 0 0 0 20px;
}
.flex-right-cus {
  width: fit-content;
  padding: 0 0 0 20px;
}
.results {
  background: #fff !important;
  padding: 0 50px !important;
  margin-top: 130px;
}
.results-section {
  margin: 0 !important;
}
:where(.css-dev-only-do-not-override-1jr9qlj).ant-pagination .ant-pagination-item-active {
  border-radius: 99px !important;
  background: linear-gradient(180deg, #1B18F9 0%, #E409E8 100%) !important;
  color: #fff !important;
  border: none !important;
  font-size: 20px !important;
}


.div-1 {
  width: 100%;
  padding: 50px 50px !important;
  border-radius: 7px;
  background: #FFF;
  box-shadow: 1px 4px 4px 0px rgba(16, 16, 16, 0.25);
  margin: 0 0 30px 0;
}

.div-2 {
  width: 100%;
}

p.span-clr {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

p.span-clr span {
  background: linear-gradient(180deg, #2117F9 0%, #E409E8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
  align-items: center;
}


.filter .fil-1 {
  color: #000;
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter .ant-select-selector span {
  color: #592CB8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter .ant-select-selector {
  border: none !important;
  padding: 0 !important;
}

.filter .ant-select-selection-item {
  padding: 0 !important;
}
.select-no {
  width: 100px;
  background: #fff !important;
}
.test {
  width: 100%;
  background: red;
}
.profile-left {
  width: 391px;
}
.doctor-sec-right {
  width: 100%;
}
.doctor-sec {
  width: 100%;
  display: flex;
  background: #F2F2F2;
  position: relative;
  align-items: center;
  min-height: 266px;
  padding: 0 30px;
  justify-content: center;
}
.iPUGu:hover .address-div a {
  color: #000;
}
.dr-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(180deg, #2117F9 0%, #E409E8 140%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin: 0 0 30px 0;
}
.dr-2 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
  margin: 0;
  padding: 0px 0 0 50px;
}
.proimg {
  width: 36px;
  position: absolute;
  left: 0;
  top: 2px;
}
.dr-2 {
  position: relative;
}
.doctor-sec-left {
  position: absolute;
  left: 0;
  top: 0;
}
.side-bar {
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0;
  background: #ffffff;
  width: 400px;
  z-index: 9;
  padding: 30px;
  overflow: auto;
}
.side-bar:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 266px;
  background: #f2f2f2;
  content: "";
  z-index: -1;
}
.doctor-sec-bottom {
  padding: 30px 30px;
}
.side-profile {
  width: 330px;
  margin: auto;
  display: block;
  visibility: hidden;
}
.side-bar-ul {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.side-bar-ul li p {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.side-bar-ul li img {
  width: 25px;
  margin: 0 5px 0 0;
}
.side-top-1 {
  margin: 0 0 30px 0;
}
.side-top-2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.side-top-2 ul li {
  width: 32%;
  margin: 0 0 15px 0;
  position: relative;
}
.side-profile-same-1 {
  width: 100%;
}
.side-profile-same-2 {
  width: 42px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}
.YoutubeVideos {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin: 0 0 10px 0;
}
.side-top-2 {
  margin: 0 0 30px 0;
}
.side-top-2.last-ul-div ul li {
  width: 23%;
}

.side-top-2.last-ul-div ul li {
    width: 23%;
}


.doctor-sec-bottom .sc-gMPPfJ.jyvlFw {
    margin: 0;
}
.outer-div {
  padding-left: 400px;
  padding-right: 0px;
  position: relative;
  background: #fff;
}
.doctor-sec-bottom .sc-EaaaW.jffwoX {
    width: 100%;
    border-radius: 8px;
    background: #F6F6F6;
    padding: 30px 30px;
    float: left;
}

h3.clinic-h {
    color: #000;
font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.address-div {
    color: #000;
font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    word-break: break-all;
    width: 100%;
}

.address-div a {
    color: #000;
font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.address-div a:hover {
    color: #000;
}

p.clinic-p {
    color: #000;
font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    display: block;
}

p.clinic-h {
    color: #000;
font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
}

.get-flex .row {
    margin: 0;
}

.get-flex {
    width: 100% !important;
    background: #F6F6F6;
    border: none !important;
    box-shadow: none;
    padding: 0px;
    border-radius: 22px;
}

.get-in-touch {
    padding: 0px;
    margin: 0 0 30px 0;
}

input.input-get {
    border-radius: 8px;
    border: 1px solid #F6F6F6;
    background: #FFF;

/* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--gray-500, #667085);
font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    width: 100%;
    height: 51px;
}

.common-data label {
    color: #000;
font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    display: block;
    text-align: left;
    margin: 0 0 10px 0;
}

textarea.area-text.input-get {
    border-radius: 8px;
    border: 1px solid #F6F6F6;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--gray-500, #667085);
font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
    height: 90px;
    resize: none;
}

.common-data {
    margin: 0 0 23px 0px;
}

p.get-p {
    color: #000;
font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 200% */
    letter-spacing: -0.44px;
    text-align: left;
}
.gBHRvy {
  margin: 0 !important;
}

.map-bottom {
  padding: 0 30px 30px 30px;
}
button.Contact-bt {
    border-radius: 12px;
    border: 1px solid #E409E8;
    background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
    color: #FFF;
    text-align: center;
font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 40px;
    width: 100%;
    max-width: 400px;
}

.common-data.mr-0 {
    margin: 0;
}

input.input-get:hover,input.input-get:focus {
    outline: 2px solid #4514f5;
}

textarea.area-text.input-get:hover,textarea.area-text.input-get:focus { outline: 2px solid #4514f5;}
.doctor-sec-bottom .faYDXg {
  margin: 0 !important;
}
.doctor-sec-bottom .sc-jHekOm.iPUGu {
  width: 100% !important;
  background: #F6F6F6;
  border: none !important;
  box-shadow: none;
  padding: 25px;
}
.iPUGu:hover {
  background-color: #f2f2f2 !important;
  color: white !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid transparent !important;
  cursor: pointer !important;
}
.kObUVn {
  padding: 0 !important;
  margin: 90px 0 0 0 !important;
}
.left-flx {
  display: none;
}
h1.h1-new {
  color: #140437;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
  width: 100%;
  margin: 0 0 50px 0;
  text-align: center;
  position: relative;
}
h1.h1-new:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 5px;
  width: 60px;
  content: "";
  margin: auto;
  background: linear-gradient(180deg, #1B18F9 0%, #E409E8 100%) !important;
  border-radius: 12px;
}

a.navbar-brand img {
  width: 160px;
  border-radius: 8px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 li a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0 0 0 50px;
}

ul.right-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

img.img-1-width {
  width: 30px;
  margin: 0 7px 0 0;
}

img.img-2-width {
  width: 30px;
}

ul.right-nav li a {
  color: #fff !important;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

ul.right-nav li {
  margin: 0 0 0 40px;
}
.doc-login {
  border-radius: 25px !important;
  border: 3px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%) !important;
  height: 72px !important;
  line-height: 72px !important;
  width: 232px !important;
  color: #FFF;
  font-family: 'Poppins', sans-serif !important;
  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 500 !important;
}
.filter-right {
  display: flex;
  align-items: center;
}
.mor-sele.select-no {
  width: 140px;
}

.filter-right .parent-sel-1 {
  margin: 0 0 0 30px;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  min-height: 95px;
  padding: 0 60px !important;
  background: transparent !important;
  border-bottom: 1px solid #fff;
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 li a:hover {
  background: linear-gradient(180deg, #2117F9 0%, #E409E8 140%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-0, .card-4, .card-5, .card-6, .card-7 {
  display: none !important;
}
p.dr {
  border-radius: 25px;
  border: 3px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
  height: 50px;
  width: 166px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
    margin-bottom: auto;
  margin-bottom: 30px !important;
  cursor: pointer;
}

p.dr-1 input[type="text"] {
  height: 50px;
  width: 100%;
  color: #000;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ccc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  background: #fff;
}
p.dr-1 input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}
p.dr-1 input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}
p.dr-1 input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
   color: #000;
}
.side-bar-ul button {
  border-radius: 25px;
  border: 3px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
  height: 50px;
  width: 166px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin: auto;
  margin-bottom: auto;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 0;
}
.side-bar-ul p {
  margin: 0 0 15px 0;
}
.side-bar-ul input {
  height: 50px;
  width: 100%;
  color: #000;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ccc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  background: #fff;
  padding: 0 15px;
}
.side-bar-ul button {
  border-radius: 25px;
  border: 3px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
  height: 50px;
  width: 166px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: auto;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 0;
  display: block;
margin-left: 0;
}
.side-bar-ul p {
  margin: 0 0 15px 0;
}
.inner-div button {
  border-radius: 25px;
  border: 3px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
  height: 50px;
  width: 166px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: auto;
  margin-bottom: 30px !important;
  cursor: pointer;
}
.outer-inner-div button {
  border-radius: 25px;
  border: 3px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
  height: 50px;
  width: 166px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: auto;
  margin-bottom: 15px !important;
  cursor: pointer;
}
.inner-div .select-dropdown {
  height: 50px;
  width: 100%;
  color: #000;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ccc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  background: #fff;
    background-color: rgb(255, 255, 255);
  padding: 0 15px;
  border: 1px solid #000 !important;
}
.inner-div input {
  height: 50px;
  width: 100%;
  color: #000;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ccc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  background: #fff;
}
.iPUGu button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4811ab;
  font-weight: bold;
  margin-top: 16px;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  color: #fff !important;
}
.grid-cus {
  position: relative;
  display: flex;
  align-content: center;
  margin: 0 0 15px 0px;
}
.grid-cus p {
  margin: 0px 0 0 13px;
}
.grid-cus img {
  width: auto;
  height: 20px;
  position: relative;
  top: 4px;
}
.parent-sel-1.distance-filter span.fil-1 {
  font-size: 20px;
}
.filter .parent-sel-1.distance-filter .ant-select-selector span{
    font-size: 20px;
}
.parent-sel-1.distance-filter .mor-sele.select-no {
  width: 160px;
}
.banner-top {
  background: #140437EB;
  min-height: 800px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 150px 0 0 0;
}
/* .banner-left-p {
  color: #FFF;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; 
  font-family: 'Poppins', sans-serif;
  margin: 0 0 23px 0;
  text-align: left;
} */
.banner-left-p-1 {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 0 0;
}

@media screen and (max-width: 850px) {
  /* CSS styles to apply when the screen width is 600px or less */
  .banner-left-p {
    font-size: 12px; /* Decrease the font size for smaller screens */
  }
}

.pro-img-2 {
  width: 100%;
}
.pro-img-3 {
  max-width: 190px;
  position: absolute;
  top: -100px;
  left: -40px;
}
.pro-img-1 {
  width: 62px;
  margin: 0 10px 0 0;
}
.card-custom {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(6px);
  padding: 15px;
  display: flex;
  max-width: 210px;
  align-items: center;
  position: absolute;
  right: -43px;
  bottom: -30px;
}
.card-p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.card-p span {
  color: #2117F9;
}
.banner-right {
  position: relative;
}
.banner-left {
  position: relative;
  z-index: 99;
}
.banner-top:after {
  border-radius: 472px;
  background: #D11EF5;
  filter: blur(250px);
  width: 472px;
  height: 472px;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.bottom-vector {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.banner-ul {
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.16);
  -webkit-backdrop-filter: blur(8.5px);
  backdrop-filter: blur(8.5px);
  list-style: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0px 0 0 0;
}
.banner-select {
  border-radius: 12px;
  background: #191049;
  height: 74px;
  color: #9E9E9E;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 30px 0 40px;
  width: 100%;
}
.vec-1 {
  width: 14px;
}
.serch {
  border-radius: 12px;
  border: 1px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 74px;
  padding: 0 30px;
  width: 80%;
}
.banner-ul li {
  position: relative;
  width: 32%;
  height: 74px;
  padding: 0 !important;
}
.vec-1 {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 99;
}
.more {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.16);
  -webkit-backdrop-filter: blur(8.5px);
  backdrop-filter: blur(8.5px);
  margin: 0;
  list-style: none;
  padding: 15px;
  max-width: 460px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}
.more-p {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0 18px 0;
  text-align: left;
  width: 100%;
}
.banner-ul-1 li a {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  height: 35px;
  display: block;
  line-height: 35px;
  border: 1px solid transparent;
  padding: 0 15px;
}
.banner-ul-1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.banner-ul-1 li a:hover,.banner-ul-1 li a.active {
  border-radius: 12px;
  border: 1px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
}
.reg-img {
  width: 100%;
}
.Regenerative {
  background: #140437;
  padding: 60px 0;
  display: flex;
  align-items: center;
  min-height: 1000px;
}
.Regenerative-p {
  color: #FFF;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 30px 0;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}
.Regenerative-p1 {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 30px 0;
  text-align: left;
}
.Regenerative-button {
  border-radius: 25px;
  border: 3px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
  width: 296px;
  height: 72px;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 0;
  display: block;
}
.div-white {
  border-radius: 20px;
  border: 0.2px solid #FFF;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(11.5px);
  padding: 20px;
  max-width: 373px;
  position: absolute;
  bottom: -100px;
  right: 50px;
}
.media-under-p {
  color: #0E63F4;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.media-under-p-1 {
  color: #252627;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.Specialist-p {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 0 0;
}
.Specialist-p-1 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 0 0;
}
.Specialist-p-1 span {
  color: #0E63F4;
}
.Book-Appointment {
  border-radius: 10px;
  background: #0E63F4;
  max-width: 332px;
  height: 55px;
  border: none;
  width: 100%;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
  margin: 15px 0 0 0;
}
.pr0-img-4 {
  width: 82px;
  margin: 0 30px 0 0;
}
.media-div {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.Regenerative-left {
  position: relative;
}
.Regenerative-right {
  padding-left: 15px;
}
.Regenerative-left {
  padding-right: 15px;
}
.common-service {
  border-radius: 12px;
  border: 1px solid rgba(106, 106, 106, 0.59);
  background: #201451;
  padding: 50px 30px;
  height: 100%;
  position: relative;
}
.eli-img {
  width: 128px;
  margin-bottom: 38px;
}
.stem-p {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  text-align: left;
}
.stem-p1 {
  color: #BEBEBE;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: left;
}
.service-1 {
  color: #C40CEB;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: 0px 0 15px 0;
}
.service-2 {
  color: #FFF;
  text-align: center;
  font-family: Ivy Journal;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 15px 0;
}
.service-3 {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 50px 0;
}
.our-services {
  background-color: #140437;
  background-image: url(assets/hero-bg-2.png);
  background-size: cover;
  padding: 150px 0 150px 0;
  background-position: top;
}
.faq {
  width: 100%;
  background-color: #140437;
  background-image: url(assets/hero-bg-2.png);
  background-size: cover;
  padding: 150px 0 150px 0;
  background-position: top;
}
.common-service:after {
  background: linear-gradient(180deg, #0E63F4 0%, rgba(14, 99, 244, 0.00) 100%);
  filter: blur(38.5px);
  width: 100%;
  height: 88px;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  content: "";
  transition: opacity .25s ease-in-out;
  opacity: 0;
}
.common-service:hover:after {
  opacity: 1;
}
.contact-custom {
  background: #140437;
  padding: 60px 0 150px 0;
  position: relative;
  z-index: 9;
}
.pro-44 {
  width: 100%;
}
.Get-p {
  color: #FFF;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; 
  letter-spacing: -0.72px;
  margin: 0 0 15px 0;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}
.Get-p-1 {
  color: #C5C5C5;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  margin: 0 0 30px 0;
  text-align: left;
}
.label-contact {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 5px 0;
  text-align: left !important;
  display: block;
}
.input-contact {
  border-radius: 8px;
  background: #201451;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 12px 16px !important;
  border: none;
  width: 100%;
  color: #8A8A8A;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
}
.input-contact.input-area {
  border-radius: 8px;
  background: #201451;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 12px 16px;
  border: none;
  width: 100%;
  height: 100px;
  resize: none;
}
.flex-input label {
  color: #8A8A8A;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  margin: 0 0 0 10px;
}
.Send-message {
  border-radius: 16px;
  border: 1px solid #E409E8;
  background: linear-gradient(180deg, #2117F9 0%, #E409E8 100%);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 12px 20px;
  color: var(--White, #FFF);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  width: 100%;
  height: 62px;
}
.mar-15 {
  margin: 0 0  20px 0;
}
.right-contact {
  position: relative;
  padding: 0 0 0 100px;
}
.pr0-img-41 {
  width: 53px;
  margin: 0 15px 0 0;
}
.media-under-p-1 {
  color: #252627;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
}
.media-under-p-1 span {
  color: #0E63F4;
}
.media-under-p-1-1 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.media-under-p-1-1 span {
  color: #140437;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.div-white-1 p.Specialist-p-1 {
  color: #1F1616;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; 
}
.div-white-1 {
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(13px);
  padding: 15px;
  max-width: 320px;
  position: absolute;
  bottom: -40px;
  right: -80px;
}
.media-div-1 {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.card-custom.con-22 {
  bottom: auto;
  top: 0;
  max-width: 250px;
}
.card-custom.con-11 {
  left: 50px;
  top: 50%;
  bottom: auto;
}
.footer-custom {
  background: #201451;
  padding: 40px 0 70px 0;
  position: relative;
}
.center-footer-2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.center-footer-3 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.center-footer-2 ul li a {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin: 0 15px;
}
.center-footer-3 ul li a img {
  height: 40px;
}
.right-copy p {
  color: var(--blue-gray-300, #CBD5E1);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
  margin: 0;
}
.center-footer-3 ul li a {
  margin: 0 0 0 15px;
}
.footer-custom:after {
  background: rgba(209, 30, 245, 0.37);
  filter: blur(50px);
  width: 245px;
  height: 245px;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
}
.footer-custom:before {
  background: #1876D1;
  filter: blur(50px);
  width: 245px;
  height: 245px;
  flex-shrink: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
}
.center-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 0 0 40px 0;
  position: relative;
  z-index: 9;
  flex-wrap: wrap;
}
.right-copy {
  padding: 40px 0 0 0;
  position: relative;
  z-index: 9;
}
.logo-footer {
  max-width: 142px;
}
.input-contact:hover,.input-contact:focus,.banner-select:hover,.banner-select:focus {
  outline: 3px solid #C40CEB;
}
.card-custom:hover,.div-white:hover,.div-white-1:hover{
  outline: 3px solid #C40CEB;
}
.faq{
  width: 100%;
}

.form-custom {
  background: #140437EB;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 160px 0 60px 0;
  z-index: 99;
  overflow: hidden;
}
.form-custom:after{
  border-radius: 472px;
  background: #D11EF5;
  filter: blur(250px);
  width: 472px;
  height: 472px;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  z-index: -1;
}
.form-all {
  border-radius: 12px;
  border: 1px solid rgba(106, 106, 106, 0.59);
  background: #201451;
  padding: 50px 30px;
  height: 100%;
  position: relative;
  max-width: 600px;
  margin: auto;
}
.form-all .input-contact {
  background: #140437EB;
}
.form-all .input-contact.input-area {
  background: #140437EB;
}
.formlogo {
  max-width: 200px;
  margin-bottom: 20px;
}
.flex-input {
  display: flex;
  align-items: baseline;
}
/* .form-all .Get-p,
.form-all .Get-p-1{
  text-align: center;
} */
body{
  font-family: 'Poppins', sans-serif !important;
}
.left-contact .ant-row{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.left-contact .ant-row .col-lg-6,.left-contact .ant-row .col-lg-12{
  padding-left: 15px;
  padding-right: 15px;
}

button.bt-my {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  font-family: 'Poppins', sans-serif !important;
  background: transparent;
  border: none;
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 0 0 0px 0;
  position: relative;
}

.my-faq .ReactCollapse--content {
  color: #B7B7B7;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Poppins', sans-serif !important;
  text-align: left;
  margin: 15px 0 0 0;
}

.my-faq {
  border-bottom: 1px solid #fff;
  padding: 15px 0;
}
ul.banner-ul .ant-select-selection-search-input {
    border-radius: 12px !important;
    background: #191049 !important;
    height: 74px !important;
    color: #9E9E9E !important;
    font-family: Poppins !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    padding: 0 30px 0 40px !important;
    width: 100% !important;
}

ul.banner-ul .ant-select {
    width: 100% !important;
    /* height: auto !important; */
    height: 75px !important;
    margin: 0 !important;
    max-width: 100% !important;
}

ul.banner-ul .ant-select-selector {
    /* height: auto !important; */
    height: 75px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}

ul.banner-ul .ant-select:focus {
    outline: none !important;
}
.banner-bottom .more button {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  height: 35px;
  display: block;
  line-height: 35px;
  border: 1px solid transparent;
  padding: 0 15px;
  background: transparent;
  border: transparent;
  margin: 0 15px 0 0 !important;
}

.banner-bottom .more button.active {
  border-radius: 12px;
  border: 1px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
  color: #fff !important;
}
.fax-icon img {
  width: 20px;
}
.fax-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.page-home header {
  box-shadow: none !important;
  background: url(assets/headbg.png);
}
.non-color header {
  background: url(assets/headbg.png);
}

ul.banner-ul .ant-select-selection-search {
  left: 0 !important;
  right: 0 !important;
}

ul.banner-ul span.ant-select-selection-placeholder {
  color: #fff !important;
  position: relative;
  top: 21px;
  text-align: left;
  left: 40px;
  word-break: break-all;
  font-size: 12px;
}
.form-all.register-form.code-validater-only {
  background: #f6f6f6 !important;
}

.form-all.register-form.code-validater-only input[type="text"] {
  background: white !important;
}
strong.green {
  color: green;
  text-align: left;
  display: block;
}

p.red-error {
  color: #ff0606;
  text-align: left;
  display: block;
}
.form-all.register-form.code-validater-only .sc-cyDWtN.cbTWhx {
  background: #f6f6f6 !important;
}


/* Add this CSS in your component's stylesheet or a global stylesheet */
/* Custom styles for Ant Design AutoComplete */
.ant-select-selection {
  border: 2px solid red; /* Add border style here */
}

/* Adjust the margin-top as needed to prevent overlap */
.ant-select-dropdown {
  margin-top: 10px;
}




@media(min-width: 768px){
  .search {
    width: 40% !important;
    margin-right: 0 !important;
}
.results-list {
  width: 60%;
  padding: 0 0 0 50px;
}
}


@media(max-width: 1024px){
/* .flex-right-cus {
  max-width: 350px;
} */
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  min-height: 95px;
  padding: 0 0px !important;
}
.dr-1 {
  font-size: 30px;
}
.dr-2 {
  font-size: 20px;
}
h3.clinic-h {
  font-size: 24px;
}
.address-div {
  font-size: 18px;
}
p.clinic-p {
  font-size: 18px;
}
.address-div a {
  font-size: 18px;
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 li a {
  margin: 0 0 0 30px;
}
}

@media(max-width: 1400px){
  .test-button {
    font-size: 15px;
    min-width: 62px;
    margin: 0 15px 15px 0 !important;
    padding: 0 15px;
  }
}
  

@media(max-width: 991px){
  .results {
    padding: 30px 15px !important;
  }
  .div-1 {
    padding: 30px 15px !important;
}
.results-list {
  padding: 0 0 0 0;
}
.add-css {
  font-size: 16px;
  padding: 0 0 0 45px;
}
.flex-right-cus a h4 {
  font-size: 20px;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary div#navbarSupportedContent {
  padding: 20px 0 0px 0;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary ul.navbar-nav.me-auto.mb-2.mb-lg-0 li a {
  margin: 0 0 10px 0px !important;
  text-align: center !important;
}
/* nav.navbar.navbar-expand-lg.bg-body-tertiary ul.right-nav li {
  margin: 0 40px 20px 0px !important;
} */


nav.navbar.navbar-expand-lg.bg-body-tertiary form.d-flex ul.right-nav li {
  margin: 0 0 15px 0 !important;
}

form.d-flex {
  width: 100% !important;
  justify-content: center;
}


nav.navbar.navbar-expand-lg.bg-body-tertiary {
  min-height: auto !important;
  padding: 10px 10px !important;
  background: #140437EB !important;
}
ul.right-nav {
  flex-wrap: wrap;
}
a.navbar-brand img {
  width: 107px;
}
button.navbar-toggler {
  border-radius: 99px !important;
  background: linear-gradient(180deg, #1B18F9 0%, #E409E8 100%) !important;
  color: #fff !important;
  border: none !important;
}
button.doc-login {
  height: 50px;
  width: 189px;
  font-size: 18px;
}
.parent-sel-1.distance-filter span.fil-1 {
  font-size: 14px !important;
}
.filter .parent-sel-1.distance-filter .ant-select-selector span{
    font-size: 14px !important;
}
.parent-sel-1.distance-filter .mor-sele.select-no {
  width: 120px;
}
}



@media(max-width: 767px){

  .get-in-touch {
    padding: 0 0px;
  }


  .filter-right .parent-sel-1 {
    margin: 0 0 0 0px;
}
.filter-left {
  margin: 0 0 5px 0;
}
  .filter {
    flex-wrap: wrap;
}
.filter-right {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
  .get-flex {
    padding: 0px;
}
  .outer-div {
    padding-left: 0;
    padding-right: 0px;
}
  .side-bar {
    position: static;
    width: 100%;
}
.search-top {
  font-size: 14px;
  margin: 0 0 5px 0;
}
.mar-test {
  height: 20px;
}
.test-button {
  font-size: 10px;
  margin: 0 5px 0px 0 !important;
  height: 22px;
}
.div-1 {
  margin: 0 0 15px 0;
  padding: 30px 15px 30px 15px !important;
}
p.span-clr {
  font-size: 14px;
}
.filter .ant-select-selector span {
  font-size: 14px;
}
.filter .fil-1 {
  font-size: 14px;
}
.select-no {
  width: 90px;
}
.test-img {
  width: 78px;
  height: 78px;
}
.flex-right-cus a h4 {
  font-size: 13px;
}
.add-css {
  font-size: 12px;
  padding: 0 0 0 22px;
}
.test-img-1 {
  width: 15px;
  top: 2px;
}
.result-card {
  margin: 0 0 20px 0 !important;
}
.results {
  padding: 0px 15px !important;
}

}










@media(min-width: 768px){
.faq.onlymob{
  display: none;
}
}


@media(max-width: 1024px){
  .pro-img-3 {
      max-width: 130px;
      top: -50px;
  }
  .card-custom {
      right: 0;
      bottom: -70px;
  }
  .div-white {
      bottom: -240px;
      right: 0;
  }
  .div-white-1 {
      bottom: -150px;
      right: 0;
  }
}

@media(max-width: 991px){
  .banner-bottom .more button{
      margin: 0 15px 15px 0 !important;
  }
  .Regenerative {
    min-height: auto;
  }
  .banner-top {
      padding: 120px 0 60px 0;
  }
  .banner-bottom {
      margin: 0 0 50px 0;
  }
  .pro-img-3 {
      max-width: 130px;
      top: 24px;
      left: 0;
  }
  .card-custom {
      bottom: 0;
  }
  .div-white {
      position: static;
      margin: 15px 0 30px 0;
  }
  .common-service {
      margin: 0 0 30px 0;
  }
  .right-contact {
      margin: 50px 0 0 0;
  }
  .div-white-1 {
      position: static;
      margin: 15px 0 0 0;
  }
}

@media(max-width: 767px){
  .faq.onlydextop{
      display: none;
  }
  .banner-top,.footer-custom {
      overflow: hidden;
  }
  .center-footer-1,.center-footer-2 {
      margin: 0 0 30px 0;
  }
  .Regenerative-p,.service-2,.banner-left-p {
      font-size: 34px;
      text-align: center;
  }
  .Regenerative-p1 {
      font-size: 18px;
  }
  .common-service {
      height: auto;
      margin: 0 0 15px 0;
  }
  .stem-p1 {
      font-size: 14px;
  }
  .stem-p {
      font-size: 24px;
  }
  .faq {
      padding: 60px 0 60px 0;
  }
  .right-contact {
      padding: 0;
  }
  .contact-custom {
      padding: 60px 0 60px 0;
  }
  .our-services {
      padding: 60px 0 60px 0;
  }
  .banner-ul li {
      position: relative;
      width: 100%;
      margin: 0 0 15px 0;
  }
  .banner-ul {
      margin: 0 0 0 0;
  }
  .banner-ul-1 {
      flex-wrap: wrap;
  }
  .banner-ul-1 li {
      width: 100%;
  }
  .left-contact .ant-row .col-lg-6,.left-contact .ant-row .col-lg-12{
    width: 100%;
  }
}











.form-all.register-form .MuiInputBase-input.MuiOutlinedInput-input {
  height: 50px;
  line-height: 50px !important;
  padding: 0 15px!important;
  background: #fff;
  border-radius: 4px;
}
.form-all.register-form span.ant-select-selection-item {
  height: 40px !important;
}
.form-all.register-form textarea.ant-input {
  height: 90px;
  line-height: 50px !important;
  padding: 0 15px!important;
  background: #fff;
  border-radius: 4px;
  resize: none;
  border: none;
  width: 100% !important;
  line-height: 20px !important;
}
.form-all.register-form .MuiFormControl-root.MuiTextField-root {
  width: 100% !important;
  height: 46px;
  line-height: 50px !important;
  padding: 0 0px!important;
  border-radius: 12px !important;
  background: #FFF;
  border: none !important;
  color: #000 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
}
.form-all.register-form {
  padding: 0;
  border-radius: 22px;
  background: #F6F6F6;
}
.form-all.register-form .sc-cuTEes.MDteb {
  background: transparent;
}
.form-all.register-form .MuiOutlinedInput-notchedOutline {
  border: none;
}
.form-all.register-form .ant-select-selector {
  width: 100% !important;
  text-align: left;
  min-height: 50px !important;
  display: block !important;
  height: auto !important;
  margin: 0 !important;
  /* line-height: 50px !important; */
  padding: 0 0px!important;
  border-radius: 12px !important;
  background: #FFF;
  border: none !important;
  color: #000 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
}
.form-all.register-form .ant-select {
  width: 100% !important;
  text-align: left;
  height: 50px !important;
  margin: 0 !important;
  height: 46px;
  line-height: 50px !important;
  padding: 0 0px!important;
  border-radius: 12px !important;
  background: #FFF;
  border: none !important;
  color: #000 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: 'Poppins', sans-serif;

}
.form-all.register-form .MuiSelect-select {
  /* height: 46px;
  padding: 0 15px;
  text-align: left;
  line-height: 46px;
   */

  height: 50px;
  line-height: 50px !important;
  padding: 0 15px!important;
  background: #fff;
  border-radius: 4px;
  width: 100%;
  width: 100%;
  border: 1px solid #ccc;
  text-align: left;
}
.form-all.register-form .label-contact {
  color: #000;
  font-weight: bold !important;
  font-size: 16px !important;
}

.form-all.register-form .MuiFormHelperText-root.Mui-error{
  margin: 0 0 5px 0 !important;
  font-size: 12px !important;
}
.form-all.register-form .mar-15 p {
  display: block;
  text-align: left;
  font-size: 14px;}
.flexmen{
  display: flex;
}
.flexmen button{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  height: 35px;
  display: block;
  line-height: 35px;
  border: 1px solid transparent;
  padding: 0 15px;
  border-radius: 12px;
  margin: 0 15px 0 0;
}
.flexmen button.active{
  border: 1px solid #E409E8;
  background: linear-gradient(180deg, #0019FB 0%, #E409E8 100%);
  color: #fff;
}

.form-custom .cIQeBa {
  background-color: #F6F6F6;
}

.mar-15-0.sero-rad .sc-jamjDV.hUihHi {
  margin: 0;
}

.form-all.register-form .mar-15-0.sero-rad  .ant-select-selector {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 1px solid #000 !important;
}

.form-all.register-form .mar-15.zer-radi .ant-select-selector {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.form-all.register-form .label-contact {
  margin: 5px 0 5px 0;
}
p.claim-p {
  color: #f00;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 20px;
  margin: 15px 0 15px 0;
  text-align: left;
  font-weight: bold !important;
  font-size: 16px !important;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.button-wrapper button {
  margin-left: 10px;
}

.sc-dNSnMM.cMDaAZ {
  position: relative;
}
button.ant-btn.css-dev-only-do-not-override-1jr9qlj.ant-btn-default.sc-iJUBwy.bGyHFX {
  position: absolute;
  top: 0;
}

@media(max-width: 991px){
  .form-all.register-form {
      padding: 30px 0;
  }
  .form-all.register-form .brEyZU {
      padding: 20px;
      width: 90%;
      margin: 0 auto;
  }
}

input.ant-input:focus {
  outline: 2px solid #4514f5;
}

.hidden-visibility {
  visibility: hidden !important;
}

.type-button.ant-btn {
  font-size: 14px;
  height: 40px;
  padding: 8px 30px;
  border-radius: 6px;
  margin: 0 7px 0 0;
}

@media(max-width: 767px){

  .type-button.ant-btn {
    height: 32px;
    padding: 4px 15px;
    margin: 0 5px 0 0;
  }

  .flexmen button{ 
    margin: 0 15px 10px 0;
  }

}

.select-box-edit .ant-select-selection-item {
  height: 40px !important;
}

#react-select-2-listbox  {
  z-index: 999999999;
  position: relative !important;
}

.select-box-edit .ant-select-selector{
  border: none !important;
  border-radius: 0px !important;
  padding: 7px !important;
  height: auto !important;
  z-index: 0 !important;
}

.error-message {
  color: #d32f2f !important;
  font-size: 12px !important;
}